google-ai-generativelanguage==0.4.0
google-api-core==2.12.0
google-auth==2.19.1
google-auth-oauthlib==1.0.0
google-cloud-speech==2.22.0
google-generativeai==0.3.1
google-pasta==0.2.0
googleapis-common-protos==1.61.0
googletrans==4.0.0rc1
streamlit==1.28.2
